<div *ngIf="cart.length===0">cart empty</div>

<button (click)="handleBack()">products</button>
<br />
<div class="card" *ngIf="cart.length!==0">
    <div #cartHeader appHighlight class="card-header">Cart View</div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr *ngFor="let cartLine of cart">
                    <td>{{cartLine.id}}</td>
                    <td>{{cartLine.name}}</td>
                    <td>{{cartLine.price|currency:'INR'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="card-footer"> -->
    <!-- {{timeNow}} -->
    <!-- </div> -->

</div>