<div class="container">
  <div class="display-1">{{title}}</div>
  <hr />
  <div class="list-group">
    <div class="list-group-item">
      <div class="row">
        <div class="col-4">
          <img class="img-fluid" alt="product-image" [src]="product.imagePath" />
        </div>
        <div class="col-8">
          <div>{{product.name}}</div>
          <div>{{product.price}}</div>
          <div>{{product.description}}</div>
          <button (click)="handleBuy($event)" class="btn btn-primary">buy</button>
        </div>
      </div>
    </div>
  </div>
</div>